.dashboard {
  padding: 20px;

  .dashboard-header {
    h2 {
      margin: 0;
      color: #333;
    }

    p {
      color: #666;
    }
  }

  .search-input {
    border: 1px solid #ccc;

    max-width: 20rem;

    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #EAECF0; // Lighter border color by default
    border-radius: 1rem; // Fully rounded borders for pill-shaped input
    transition: border-color 0.2s; // Smooth transition for border color

    text-align: center; // Centers the placeholder text

    // Position the search icon
    // background-image: url('./search_icon.svg'); // Path to your search icon
    // background-repeat: no-repeat;
    // background-position: 1rem center; // Adjust based on your icon size
    // background-size: 16px; // Size of your search icon
    // text-indent: 2rem; // Indent text to make space for the icon

    &:focus {
      outline: none;
      border-color: #5b21b6; // Change to purple when focused
    }



  }


  .audit-status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .status-card {
      width: 30%;
      padding: 20px;
      text-align: center;
      border-radius: 1rem;
      border: 1pt solid #D0D5DD;
    }

    // Colors based on status
    .not-started .status-number {
      color: #e74c3c;
    }

    .in-progress .status-number {
      color: #f39c12;
    }

    .completed .status-number {
      color: #27ae60;
    }

    .status-number {
      display: block;
      font-size: 2em;
      color: #333;
    }
  }

  .audit-list {
    margin-top: 20px;

    .list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

    .audit-table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 1rem;
      overflow: hidden;
      
    
      td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        color: #666;
      }

      th {
        padding: 15px;
        background-color: #EAECF0;
      }

      .audit-item {
        cursor: pointer;
        transition: background-color 0.3s;

        // &.not-started {
        //   background-color: #fef6f6;
        // }

        // &.in-progress {
        //   background-color: #fffaf3;
        // }

        // &.completed {
        //   background-color: #f2f7f2;
        // }

        &:hover {
          background-color: #F0F0F0;
        }
      }
    }

  }
  
