
#page-spinner-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);

  #page-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}